* {
    box-sizing: border-box;
}
body {
background-image: url('freedom.jpg');
    }
.container {
    text-align: center;
}


table {
    margin: auto;
}

input {
    width: 35vw;
    height: 5vw;
    border-radius: 2vw;
    border: .4vw solid black;
    font-size: 3vw;
    color: red;
    padding-left: 1vw;
}
input::placeholder {
    opacity: .5;
    text-align: left;
    padding-left: 1vw;
}

button {
    width: 6.25vw;
    padding: .5vw;
    margin: 1vw;
    height: 5vw;
    font-size: 3vw;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-weight: bold;
    border: .3vw solid darkblue;
    background-color:lightblue;
    cursor: pointer;
}
.calculator {
    display: inline-block;
}

@media only screen and (max-width: 600px) {
       
    input {
        width: 60vw;
        height: 8vw;
        border-radius: 4vw;
        border: .6vw solid black;
        font-size: 5vw;
        padding-left: 2vw;
    }
    input::placeholder {
        opacity: .5;
        padding-left: 1vw;
    }
    
    button {
        width: 10vw;
        padding: .5vw;
        margin: 1.5vw;
        height: 8vw;
        font-size: 5vw;
        border-radius: 50%;
        font-weight: bold;
        border: .6vw solid darkblue;
       }
    h1 {
        font-size: 8vw;
        margin-top: 10vw;
        margin-bottom: 10vw;
    }   
}

